.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.962891;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.973145;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
.fc3{color:rgb(255,255,255);}
.fc1{color:rgb(0,0,0);}
.fc2{color:rgb(196,43,49);}
.fc0{color:rgb(209,65,64);}
.fs6{font-size:32.000000px;}
.fs2{font-size:36.000000px;}
.fs4{font-size:40.000000px;}
.fs3{font-size:44.000000px;}
.fs1{font-size:48.000000px;}
.fs0{font-size:96.000000px;}
.fs5{font-size:102.000000px;}
.y13{bottom:2.412003px;}
.y3{bottom:7.872002px;}
.y35{bottom:9.423000px;}
.ye{bottom:9.589003px;}
.y5{bottom:10.392000px;}
.y1a{bottom:10.514000px;}
.y32{bottom:10.613001px;}
.y15{bottom:11.393999px;}
.y12{bottom:14.911002px;}
.y34{bottom:21.617001px;}
.yd{bottom:22.088003px;}
.y11{bottom:27.410002px;}
.y2{bottom:35.142002px;}
.yc{bottom:40.587004px;}
.yb{bottom:52.647009px;}
.y0{bottom:55.000000px;}
.ya{bottom:73.312006px;}
.y9{bottom:85.372007px;}
.y30{bottom:96.593018px;}
.y8{bottom:106.037006px;}
.y2f{bottom:107.955017px;}
.y7{bottom:118.097006px;}
.y2e{bottom:151.145996px;}
.y2d{bottom:162.507996px;}
.y1b{bottom:165.952980px;}
.y31{bottom:165.952991px;}
.y19{bottom:186.653005px;}
.y2c{bottom:203.199005px;}
.y2b{bottom:214.561005px;}
.y18{bottom:225.503006px;}
.y2a{bottom:262.252014px;}
.y17{bottom:262.999990px;}
.y29{bottom:273.614014px;}
.y28{bottom:284.976013px;}
.y27{bottom:296.338011px;}
.y16{bottom:301.849991px;}
.y26{bottom:324.411013px;}
.y25{bottom:334.637011px;}
.y14{bottom:339.347005px;}
.y24{bottom:344.863009px;}
.y23{bottom:355.089006px;}
.y22{bottom:365.315004px;}
.y21{bottom:375.541010px;}
.y10{bottom:378.197006px;}
.y20{bottom:385.767008px;}
.y1f{bottom:395.993008px;}
.y1e{bottom:406.219007px;}
.yf{bottom:415.693986px;}
.y1d{bottom:416.445007px;}
.y1c{bottom:433.329008px;}
.y6{bottom:452.540001px;}
.y4{bottom:588.889999px;}
.y1{bottom:676.585999px;}
.y33{bottom:688.736000px;}
.he{height:20.700001px;}
.h11{height:24.203125px;}
.h7{height:27.228516px;}
.h4{height:27.396000px;}
.ha{height:29.400000px;}
.hc{height:30.234375px;}
.hd{height:30.253906px;}
.h8{height:33.279297px;}
.h5{height:36.281250px;}
.h9{height:37.497002px;}
.hf{height:45.000000px;}
.h2{height:57.150002px;}
.h3{height:72.562500px;}
.h10{height:77.097656px;}
.h6{height:136.350006px;}
.hb{height:450.333008px;}
.h1{height:737.000000px;}
.h0{height:792.000000px;}
.w8{width:75.300003px;}
.w5{width:99.000000px;}
.w3{width:108.000000px;}
.w6{width:139.500000px;}
.w7{width:157.500000px;}
.w4{width:363.500000px;}
.w2{width:450.000000px;}
.w1{width:575.000000px;}
.w0{width:612.000000px;}
.x0{left:0.000000px;}
.x2{left:5.750000px;}
.x8{left:12.820001px;}
.x7{left:14.802001px;}
.x4{left:36.000000px;}
.x6{left:37.500000px;}
.x5{left:41.750000px;}
.x1{left:126.000000px;}
.x3{left:211.500000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
.fs6{font-size:42.666667pt;}
.fs2{font-size:48.000000pt;}
.fs4{font-size:53.333333pt;}
.fs3{font-size:58.666667pt;}
.fs1{font-size:64.000000pt;}
.fs0{font-size:128.000000pt;}
.fs5{font-size:136.000000pt;}
.y13{bottom:3.216003pt;}
.y3{bottom:10.496002pt;}
.y35{bottom:12.564000pt;}
.ye{bottom:12.785337pt;}
.y5{bottom:13.856000pt;}
.y1a{bottom:14.018667pt;}
.y32{bottom:14.150668pt;}
.y15{bottom:15.191999pt;}
.y12{bottom:19.881336pt;}
.y34{bottom:28.822667pt;}
.yd{bottom:29.450671pt;}
.y11{bottom:36.546669pt;}
.y2{bottom:46.856003pt;}
.yc{bottom:54.116005pt;}
.yb{bottom:70.196012pt;}
.y0{bottom:73.333333pt;}
.ya{bottom:97.749341pt;}
.y9{bottom:113.829343pt;}
.y30{bottom:128.790690pt;}
.y8{bottom:141.382675pt;}
.y2f{bottom:143.940023pt;}
.y7{bottom:157.462674pt;}
.y2e{bottom:201.527995pt;}
.y2d{bottom:216.677327pt;}
.y1b{bottom:221.270640pt;}
.y31{bottom:221.270655pt;}
.y19{bottom:248.870673pt;}
.y2c{bottom:270.932007pt;}
.y2b{bottom:286.081340pt;}
.y18{bottom:300.670675pt;}
.y2a{bottom:349.669352pt;}
.y17{bottom:350.666653pt;}
.y29{bottom:364.818685pt;}
.y28{bottom:379.968018pt;}
.y27{bottom:395.117348pt;}
.y16{bottom:402.466654pt;}
.y26{bottom:432.548017pt;}
.y25{bottom:446.182681pt;}
.y14{bottom:452.462673pt;}
.y24{bottom:459.817345pt;}
.y23{bottom:473.452009pt;}
.y22{bottom:487.086672pt;}
.y21{bottom:500.721347pt;}
.y10{bottom:504.262675pt;}
.y20{bottom:514.356010pt;}
.y1f{bottom:527.990677pt;}
.y1e{bottom:541.625343pt;}
.yf{bottom:554.258648pt;}
.y1d{bottom:555.260010pt;}
.y1c{bottom:577.772011pt;}
.y6{bottom:603.386668pt;}
.y4{bottom:785.186666pt;}
.y1{bottom:902.114665pt;}
.y33{bottom:918.314667pt;}
.he{height:27.600001pt;}
.h11{height:32.270833pt;}
.h7{height:36.304688pt;}
.h4{height:36.528000pt;}
.ha{height:39.199999pt;}
.hc{height:40.312500pt;}
.hd{height:40.338542pt;}
.h8{height:44.372396pt;}
.h5{height:48.375000pt;}
.h9{height:49.996002pt;}
.hf{height:60.000000pt;}
.h2{height:76.200002pt;}
.h3{height:96.750000pt;}
.h10{height:102.796875pt;}
.h6{height:181.800008pt;}
.hb{height:600.444010pt;}
.h1{height:982.666667pt;}
.h0{height:1056.000000pt;}
.w8{width:100.400004pt;}
.w5{width:132.000000pt;}
.w3{width:144.000000pt;}
.w6{width:186.000000pt;}
.w7{width:210.000000pt;}
.w4{width:484.666667pt;}
.w2{width:600.000000pt;}
.w1{width:766.666667pt;}
.w0{width:816.000000pt;}
.x0{left:0.000000pt;}
.x2{left:7.666667pt;}
.x8{left:17.093334pt;}
.x7{left:19.736001pt;}
.x4{left:48.000000pt;}
.x6{left:50.000000pt;}
.x5{left:55.666667pt;}
.x1{left:168.000000pt;}
.x3{left:282.000000pt;}
}
