{% load static %}
{% url 'home' as home_url %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>RezyuME</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'resume/assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'resume/assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'resume/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'resume/assets/vendor/icofont/icofont.min.css' %}" rel="stylesheet">
  <link href="{% static 'resume/assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'resume/assets/vendor/venobox/venobox.css' %}"rel="stylesheet">
  <link href="{% static 'resume/assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'resume/assets/vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'resume/assets/vendor/aos/aos.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'resume/assets/css/style.css' %}" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">


  {% block styles %}
  {% endblock styles %}

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center {% if request.path == home_url %} header-transparent {% endif %}">
    <div class="container d-flex align-items-center">

      <div class="logo mr-auto">
        <h1 class="text-light"><a href="{% url 'home' %}"><span>rezyuME</span></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav class="nav-menu d-none d-lg-block">
        <ul>

          <li class="active"><a href="{% url 'home' %}">Home</a></li>
          
          
          {% comment %} <li class="drop-down"><a href="">Drop Down</a>
            <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li class="drop-down"><a href="#">Drop Down 2</a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
              <li><a href="#">Drop Down 5</a></li>
            </ul>
          </li> {% endcomment %}
          

          {% if user.is_authenticated %}
            <li><a href="#about">Profile</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
          {% else %}
            <li><a href="{% url 'login' %}">Login</a></li>
             <li><a href="{% url 'register' %}">Register</a></li>
          {% endif %}

        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->



  {% block content %}
  {% endblock content %}

  {% block js %}
  {% endblock js %}



  <!-- ======= Hero Section ======= -->
 

  <!-- ======= Footer ======= -->
  <footer id="footer">
    
      <div class="copyright">
        &copy; Copyright <strong><span>Bootslander</span></strong>. All Rights Reserved
      </div>
      </div>
    
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{% static 'resume/assets/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'resume/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'resume/assets/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'resume/assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'resume/assets/vendor/venobox/venobox.min.js' %}"></script>
  <script src="{% static 'resume/assets/vendor/waypoints/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'resume/assets/vendor/counterup/counterup.min.js' %}"></script>
  <script src="{% static 'resume/assets/vendor/owl.carousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'resume/assets/vendor/aos/aos.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'resume/assets/js/main.js' %}"></script>

</body>

</html>