{% load static %}
{% url 'home' as home_url %}
{% url 'profile' as profile_url %}
{% url 'login' as login_url %}
{% url 'logout' as logout_url %}
{% url 'register' as register_url %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>RezyuME</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'resume/assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'resume/assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'resume/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'resume/assets/vendor/icofont/icofont.min.css' %}" rel="stylesheet">
  <link href="{% static 'resume/assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'resume/assets/vendor/venobox/venobox.css' %}"rel="stylesheet">
  <link href="{% static 'resume/assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'resume/assets/vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'resume/assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>


  <!-- Template Main CSS File -->
  <link href="{% static 'resume/assets/css/style.css' %}" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

  
  {% block styles %}
  {% endblock styles %}

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center {% if request.path == home_url %} header-transparent {% endif %}">
    <div class="container d-flex align-items-center">

      <div class="logo mr-auto">
        <h1 class="text-light" style="overflow-y:hidden;"><a href="{% url 'home' %}"><span>rezyuME</span></a></h1>
      </div>

      <nav class="nav-menu d-none d-lg-block">
        <ul>

          <li class="{% if request.path == home_url %} active {% endif %}"><a href="{% url 'home' %}">Home</a></li>
          

          {% if user.is_authenticated %}
            <li class="{% if request.path == profile_url %} active {% endif %} "><a href="{% url 'profile' %}">Profile</a></li>
            <li class="{% if request.path == logout_url %} active {% endif %}"><a href="{% url 'logout' %}">Logout</a></li>
          {% else %}
            <li class="{% if request.path == login_url %} active {% endif %}"><a href="{% url 'login' %}">Login</a></li>
             <li class="{% if request.path == register_url %} active {% endif %}"><a href="{% url 'register' %}">Register</a></li>
          {% endif %}

        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->

{% if messages %}
{% for message in messages %}
<div class="container-fluid p-0">
  <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    {{ message }}
  </div>
</div>
{% endfor %}
{% endif %}


  {% block content %}
  {% endblock content %}
  <br>
  <br>
  <br>
  



  <!-- ======= Hero Section ======= -->
 

  <!-- ======= Footer ======= -->
  <footer id="footer" style="margin-top:100px;">
    
      <div class="copyright">
        &copy; Copyright <strong><span>HKS Group</span></strong>. All Rights Reserved
      </div>
      </div>
    
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{% static 'resume/assets/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'resume/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'resume/assets/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'resume/assets/vendor/venobox/venobox.min.js' %}"></script>
  <script src="{% static 'resume/assets/vendor/waypoints/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'resume/assets/vendor/counterup/counterup.min.js' %}"></script>
  <script src="{% static 'resume/assets/vendor/owl.carousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'resume/assets/vendor/aos/aos.js' %}"></script>
 {% block js %}
     {% endblock js %}
  <!-- Template Main JS File -->
  <script src="{% static 'resume/assets/js/main.js' %}"></script>
  <script>
     var csrftoken = '{{ csrf_token }}';
     
  </script>

</body>

</html>