{% extends 'resume/base.html'%} {%load static%} {% block styles %}

<link href="{% static 'resume/assets/css/form.css' %}" rel="stylesheet" />

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

{% endblock styles %} {% block content%}

<br />
<br />
<br />
<br />

<div
  class="row justify-content-center"
  style="margin-left: 0px; margin-right: 0px"
>
  <div
    class="
      col-md-12 col-11 col-sm-10 col-md-10 col-lg-6 col-xl-5
      text-center
      p-0
      mt-3
      mb-2
    "
  >
    <h2 id="heading">Sign Up Your User Account</h2>
    <p>Fill all form field to go to next step</p>
    <div class="card px-0 pt-4 pb-0 mt-3 mb-3">
      <ul id="progressbar">
        <li class="active" id="account">
          <strong>Personal Information</strong>
        </li>
        <li id="personal"><strong>Education</strong></li>
        <li id="payment"><strong>Experience</strong></li>
        <li id="confirm"><strong>Skills</strong></li>
        <li id="confirm"><strong>Finish</strong></li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-7">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="text-center p-0 mb-2 mx-5 px-5">
          <div class="card px-0 pt-4 pb-0 mb-3">
            <form id="msform" action="{% url 'forms' %}" method="POST">
              {% csrf_token %}
              <!-- progressbar -->
              <!-- fieldsets -->
              <fieldset id="f1">
                <div class="form-card">
                  <div class="row">
                    <div class="col-md-6">
                      <label class="fieldlabels">First Name *</label>
                      <input
                        class="info"
                        id="first_name"
                        type="text"
                        name="first_name"
                        placeholder="First Name"
                        required
                      />
                    </div>

                    <div class="col-md-6">
                      <label class="fieldlabels">Last Name *</label>
                      <input
                        class="info"
                        id="last_name"
                        type="text"
                        name="last_name"
                        placeholder="Last Name"
                        required
                      />
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <label class="fieldlabels">Email *</label>
                      <input
                        class="info"
                        id="email"
                        type="email"
                        name="email"
                        placeholder="Email"
                        required
                      />
                    </div>
                    <div class="col-md-6">
                      <label class="fieldlabels">Contact *</label>
                      <input
                        class="info"
                        id="contact"
                        type="text"
                        name="contact"
                        placeholder="Contact"
                        required
                      />
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-12">
                      <label class="fieldlabels">Address *</label>
                      <input
                        class="info"
                        id="address"
                        type="text"
                        name="address"
                        placeholder="Address"
                        required
                      />
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-12">
                      <label class="fieldlabels">Profession *</label>
                      <input
                        class="info"
                        id="profession"
                        type="text"
                        name="profession"
                        placeholder="Profession"
                        required
                      />
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <label class="fieldlabels">GitHub Link </label>
                      <input
                        class="info"
                        id="github"
                        type="url"
                        name="github"
                        placeholder="Github Link"
                      />
                    </div>
                    <div class="col-md-6">
                      <label class="fieldlabels">LinkedIn</label>
                      <input
                        class="info"
                        id="linkedin"
                        type="url"
                        name="linkedin"
                        placeholder="LinkedIn"
                      />
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-12">
                      <label class="fieldlabels">About *</label>
                      <input
                        class="info"
                        type="text"
                        id="about"
                        name="about"
                        placeholder="About you"
                      />
                    </div>
                  </div>
                </div>
                <input
                  type="button"
                  name="next"
                  class="next action-button"
                  value="Next"
                />
              </fieldset>

              <fieldset id="f2">
                <div class="form-card" id="edu-form">
                  <div class="row">
                    <div class="col-md-6">
                      <label class="fieldlabels">Degree: *</label>
                      <select
                        class="edu-degree"
                        name="degree"
                        placeholder="Degree"
                        id="degree"
                        required
                      >
                        <option value="Phd">Phd</option>
                        <option value="Masters">Mtech/MA/MSc/MCom/MBA</option>
                        <option value="Bachlors">BE/Btech/BA/BSc/BCom</option>
                        <option value="HSC">12th</option>
                        <option value="SSC">10th</option>
                      </select>
                    </div>
                    <div class="col-md-6">
                      <label class="fieldlabels">Branch: *</label>
                      <input
                        class="edu-branch"
                        id="branch"
                        type="text"
                        name="branch"
                        placeholder="Branch"
                      />
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <label class="fieldlabels">University Name: *</label>
                      <input
                        class="edu-university"
                        id="university"
                        type="text"
                        name="university"
                        placeholder="Result"
                        required
                      />
                    </div>
                    <div class="col-md-6">
                      <label class="fieldlabels">Passing Year: *</label>
                      <input
                        class="edu-passing_year"
                        id="passing_year"
                        type="number"
                        min="1960"
                        max="3000"
                        step="1"
                        value="2021"
                        name="passing_year"
                        placeholder="Passing Year"
                        required
                      />
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-12">
                      <label class="fieldlabels">Result: *</label>
                      <input
                        class="edu-result"
                        id="result"
                        type="text"
                        name="result"
                        placeholder="Result"
                        required
                      />
                    </div>
                  </div>

                  <hr />
                </div>

                <input
                  type="button"
                  name="next"
                  class="next action-button"
                  value="Next"
                />
                <input
                  type="button"
                  name="previous"
                  class="previous action-button-previous"
                  value="Previous"
                />

                <input
                  type="button"
                  name="Add more"
                  class="edu-addMore"
                  value="Add more"
                />
              </fieldset>
              <fieldset id="f3">
                <div class="form-card" id="job-form">
                  <div class="row">
                    <div class="col-md-6">
                      <label class="fieldlabels">Job Title: *</label>
                      <input
                        class="job-title"
                        id="job_title"
                        type="text"
                        name="job_title"
                        placeholder="Job Title"
                        required
                      />
                    </div>
                    <div class="col-md-6">
                      <label class="fieldlabels">Employer: *</label>
                      <input
                        class="job-employer"
                        id="employer"
                        type="text"
                        name="employer"
                        placeholder="Employer"
                        required
                      />
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <label class="fieldlabels">Start Date: *</label>
                      <input
                        class="job-start_date"
                        id="start_date"
                        type="date"
                        name="start_date"
                        placeholder="Start Date"
                        required
                      />
                    </div>
                    <div class="col-md-6">
                      <label class="fieldlabels">End Date: *</label>
                      <input
                        class="job-end_date"
                        id="end_date"
                        type="date"
                        name="end_date"
                        placeholder="End Date"
                        required
                      />
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-12">
                      <label class="fieldlabels">Description: *</label>
                      <input
                        class="job-description"
                        id="experience_description"
                        type="text"
                        name="experience_description"
                        placeholder="Description"
                        required
                      />
                    </div>
                  </div>
                  <hr />
                </div>
                <input
                  type="button"
                  name="next"
                  class="next action-button"
                  value="Next"
                />
                <input
                  type="button"
                  name="previous"
                  class="previous action-button-previous"
                  value="Previous"
                />
                <input
                  type="button"
                  name="Add more"
                  class="job-addMore"
                  value="Add more"
                />
              </fieldset>
              <fieldset id="f4">
                <div class="form-card" id="skill-form">
                  <div id="skill-row">
                    <div class="row">
                      <div class="col-md-6">
                        <label class="fieldlabels">Skills: </label>
                        <input
                          class="skill-title"
                          id="skill_detail-1"
                          type="text"
                          name="skill"
                          placeholder="Skills"
                        />
                      </div>
                      <div class="col-md-6">
                        <label class="fieldlabels">Level: *</label>
                        <select
                          class="skill-level"
                          name="skill-level"
                          placeholder="skill-level"
                          id="skill_level-1"
                          required
                        >
                          <option value="Beginner">Beginner</option>
                          <option value="Intermediate">Intermediate</option>
                          <option value="Advance">Advance</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <hr />
                </div>
                <input
                  id="submitBtn"
                  type="button"
                  name="next"
                  class="next action-button"
                  value="Submit"
                />
                <input
                  type="button"
                  name="previous"
                  class="previous action-button-previous"
                  value="Previous"
                />
                <input
                  type="button"
                  name="Add more"
                  class="skill-addMore"
                  value="Add more"
                />
              </fieldset>

              <fieldset id="f5">
                <div class="form-card">
                  <div class="row"></div>
                  <br /><br />
                  <h2 class="purple-text text-center">
                    <strong>SUCCESS !</strong>
                  </h2>
                  <br />
                  <div class="row justify-content-center">
                    <div class="col-3">
                      <img
                        src="https://i.imgur.com/GwStPmg.png"
                        class="fit-image"
                      />
                    </div>
                  </div>
                  <br /><br />
                  <div class="row justify-content-center">
                    <div class="col-7 text-center">
                      <h5 class="purple-text text-center">
                        You Have Successfully Signed Up
                      </h5>
                    </div>
                  </div>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-5" style="align-content: center">
    <iframe
      src="{% url 'testing' %}"
      id="template1"
      name="template1"
      allowTransparency="true"
      scrolling="yes"
      frameborder="2px"
      height="150%"
      width="165%"
      style="
        -webkit-transform: scale(0.5);
        margin-left: -350px;
        margin-top: -200px;
      "
    >
    </iframe>
  </div>
</div>

{% endblock %} {% block js %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="{% static 'resume/assets/js/form.js' %}"></script>

<script>
  var iframe = document.getElementById("template1");
  var element_id = "";
  $("body").bind("click keypress", function () {
    element_id = document.activeElement.id;
    var elmnt = document.getElementById(element_id);
    elmnt.onkeyup = function () {
      iframe.contentWindow.document.getElementById(element_id).innerHTML =
        elmnt.value;
    };
  });
</script>

{% endblock js %}
