<!-- {% load static %} -->

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    


    <title>Hello, world!</title>

   
           


  </head>
  <body>
   <a href={% url 'test' %}><h1>Hello, world!</h1></a>
    <iframe src={% url 'test' %} id="template1" name="template1" allowTransparency="true" scrolling="no" frameborder="0" height="1250px" width="715px" style="-webkit-transform:scale(0.5);-moz-transform-scale(0.5);" >
    </iframe>
    <div class='printchatbox' id='printchatbox'></div>
    <input type='text' name='fname' class='chatinput' id='chatinput'> 
 
    
    <button class="btn btn-print btn-sm btn-light" onClick="handlePrint()"><i class="fa fa-print"></i>
    Print</button>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
    

    <script>


      var iframe = document.getElementById('template1');     

      var inputBox = document.getElementById('chatinput');
      inputBox.onkeyup = function(){
         iframe.contentWindow.document.getElementById("first_name").innerHTML = inputBox.value;
      }

       const handlePrint = () => {
        iframe.contentWindow.focus();
         
        //iframe.contentWindow.style.bottom = "0";
        //iframe.contentWindow.style.right = "0";
        //iframe.contentWindow.style.width = "0";
        //iframe.contentWindow.style.height = "0";
        //iframe.contentWindow.style.border = "0";
        iframe.contentWindow.print();
        
       }
       //const handlePrint = () => iframe.contentWindow.document.ptElement();

    </script>

    
  
  </body>

  


</html>