{% extends "resume/base.html" %}
{% load static %}
{% load crispy_forms_tags %}


{% block styles %}

    <link rel="stylesheet" href="{% static 'user/profile.css' %}">
    
{% endblock styles %}



{% block content %}

<div class="container" style="margin-top:10%;">
<div class="row gutters">
<div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
<div class="card h-100">
	<div class="card-body">
		<div class="account-settings">
			<div class="user-profile">
				<h4 class="user-name">{{user.first_name}}&nbsp;{{user.last_name}}</h4>
				<h4> {{user.profile.job}} </h4>
				<h6 class="user-email">{{user.email}}</h6>
			</div>
			<hr>
			<div class="about">
				<h3>About</h3>
				<p>{{user.profile.about}}</p>
			</div>
			<hr>
		</div>
	</div>
</div>
</div>
<div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
<div class="card h-100">
<form method='POST' enctype="multipart/form-data">
            {% csrf_token %}
                <legend class="border-bottom mb-4">Profile</legend>
				<div class="form-row">
                        <div class="form-group col-md-6 mb-0">
                        {{ form_u.first_name|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-6 mb-0">
                        {{ form_u.last_name|as_crispy_field }}
                        </div>
                </div>
				<hr>
				<div class="form-row">
                        <div class="form-group col-md-6 mb-0">
                        {{ form_u.email|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-6 mb-0">
                        {{ form_p.phoneNumber|as_crispy_field }}
                        </div>
                </div>
				<hr>
				<div class="form-row">
                        <div class="form-group col-md-6 mb-0">
                        {{ form_p.job|as_crispy_field }}
                        </div>
						<div class="form-group col-md-6 mb-0">
                        {{ form_p.address|as_crispy_field }}
                        </div>
                        
                </div>
				<hr>
				<div class="form-row">
                        <div class="form-group col-md-6 mb-0">
                        {{ form_p.github|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-6 mb-0">
                        {{ form_p.linkedin|as_crispy_field }}
                        </div>
                </div>
				<hr>
				<div class="form-row">
					<div class="form-group col-md-12 mb-0">
                        {{ form_p.about|as_crispy_field }}
                    </div>   
                </div>
                <hr>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Update</button>
            </div>
        </form>
</div>
</div>
</div>
</div>


{% endblock content %}