{% load static %}
<!DOCTYPE html>
<!-- Created by pdf2htmlEX (https://github.com/coolwanglu/pdf2htmlex) -->
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    
    <link rel="stylesheet" href="{% static 'resume_templates/template3/base.min.css' %}" />
    <link rel="stylesheet" href="{% static 'resume_templates/template3/fancy.min.css' %}" />
    <link rel="stylesheet" href="{% static 'resume_templates/template3/main.css' %}" />
    <script src="{% static 'resume_templates/template3/compatibility.min.js' %}"></script>
    <script src="{% static 'resume_templates/template3/theViewer.min.js' %}"></script>
    <script>
      try {
        theViewer.defaultViewer = new theViewer.Viewer({});
      } catch (e) {}
    </script>
    <title></title>
  </head>
  <body>
    <div id="sidebar">
      <div id="outline"></div>
    </div>
    <div id="page-container">
      <div id="pf1" class="pf w0 h0" data-page-no="1">
        <div class="pc pc1 w0 h0">
          <img class="bi x0 y0 w1 h1" alt="" src="{% static 'resume_templates/template3/bg1.png'%}" />
          <div class="c x1 y1 w2 h2">
            <div class="t m0 x2 h3 y2 ff1 fs0 fc0 sc0 ls0 ws0">First Name</div>
            <div class="t m0 x2 h3 y3 ff1 fs0 fc0 sc0 ls0 ws0">Last Name</div>
          </div>
          <div class="c x3 y4 w3 h4">
            <div class="t m0 x2 h5 y5 ff1 fs1 fc0 sc0 ls0 ws0">EXPERIENCE</div>
          </div>
          <div class="c x3 y6 w4 h6">
            <div class="t m0 x2 h7 y7 ff2 fs2 fc1 sc0 ls0 ws0">
              Dates From– Dates From
            </div>
            <div class="t m0 x2 h8 y8 ff2 fs3 fc1 sc0 ls0 ws0">
              Title<span class="fc0"> •<span class="fc2"> </span></span
              >Company<span class="fc2"> <span class="fc0">•</span> </span>City,
              State
            </div>
            <div class="t m0 x2 h7 y9 ff2 fs2 fc1 sc0 ls0 ws0">
              Dates From– Dates From
            </div>
            <div class="t m0 x2 h8 ya ff2 fs3 fc1 sc0 ls0 ws0">
              Title<span class="fc0"> •<span class="fc2"> </span></span
              >Company<span class="fc2"> <span class="fc0">•</span> </span>City,
              State
            </div>
            <div class="t m0 x2 h7 yb ff2 fs2 fc1 sc0 ls0 ws0">
              Dates From– Dates From
            </div>
            <div class="t m0 x2 h8 yc ff2 fs3 fc1 sc0 ls0 ws0">
              Title<span class="fc0"> •<span class="fc2"> </span></span
              >Company<span class="fc2"> <span class="fc0">•</span> </span>City,
              State
            </div>
            <div class="t m0 x2 h8 yd ff2 fs3 fc1 sc0 ls0 ws0">
              [This is the place for a brief summary of your key
              responsibilities and
            </div>
            <div class="t m0 x2 h8 ye ff2 fs3 fc1 sc0 ls0 ws0">
              most stellar accomplishments.]
            </div>
          </div>
          <div class="c x3 yf w5 h4">
            <div class="t m0 x2 h5 y5 ff1 fs1 fc0 sc0 ls0 ws0">EDUCATION</div>
          </div>
          <div class="c x3 y10 w4 h9">
            <div class="t m0 x2 h8 y11 ff1 fs3 fc1 sc0 ls0 ws0">
              [School Name]<span class="ff2">, City, State</span>
            </div>
            <div class="t m0 x2 h8 y12 ff2 fs3 fc1 sc0 ls0 ws0">
              [You might want to include your GPA here and a brief
            </div>
            <div class="t m0 x2 h8 y13 ff2 fs3 fc1 sc0 ls0 ws0">
              summary of relevant coursework, awards, and honors.]
            </div>
          </div>
          <div class="c x3 y14 w6 ha">
            <div class="t m0 x2 h5 y15 ff1 fs1 fc0 sc0 ls0 ws0">
              COMMUNICATION
            </div>
          </div>
          <div class="c x3 y16 w4 h9">
            <div class="t m0 x2 h8 y11 ff2 fs3 fc1 sc0 ls0 ws0">
              [You delivered that big presentation to rave reviews.
            </div>
            <div class="t m0 x2 h8 y12 ff2 fs3 fc1 sc0 ls0 ws0">
              Don’t be shy about it now!
            </div>
            <div class="t m0 x2 h8 y13 ff2 fs3 fc1 sc0 ls0 ws0">
              This is the place to show how well you work and play with others.]
            </div>
          </div>
          <div class="c x3 y17 w3 ha">
            <div class="t m0 x2 h5 y15 ff1 fs1 fc0 sc0 ls0 ws0">LEADERSHIP</div>
          </div>
          <div class="c x3 y18 w4 h9">
            <div class="t m0 x2 h8 y11 ff2 fs3 fc1 sc0 ls0 ws0">
              [Are you president of your fraternity, head of the condo board,
            </div>
            <div class="t m0 x2 h8 y12 ff2 fs3 fc1 sc0 ls0 ws0">
              or a team lead for your favorite charity?
            </div>
            <div class="t m0 x2 h8 y13 ff2 fs3 fc1 sc0 ls0 ws0">
              You’re a natural leader—tell it like it is!]
            </div>
          </div>
          <div class="c x3 y19 w3 ha">
            <div class="t m0 x2 h5 y1a ff1 fs1 fc0 sc0 ls0 ws0">REFERENCES</div>
          </div>
          <div class="c x4 y1b w7 hb">
            <div class="t m0 x2 h5 y1c ff1 fs1 fc3 sc0 ls0 ws0">OBJECTIVE</div>
            <div class="t m0 x2 h7 y1d ff2 fs2 fc3 sc0 ls0 ws0">
              [Replace this sentence with
            </div>
            <div class="t m0 x2 h7 y1e ff2 fs2 fc3 sc0 ls0 ws0">
              your job objective. To
            </div>
            <div class="t m0 x2 h7 y1f ff2 fs2 fc3 sc0 ls0 ws0">
              replace any tip text with
            </div>
            <div class="t m0 x2 h7 y20 ff2 fs2 fc3 sc0 ls0 ws0">
              your own, just select a line
            </div>
            <div class="t m0 x2 h7 y21 ff2 fs2 fc3 sc0 ls0 ws0">
              of text and start typing. For
            </div>
            <div class="t m0 x2 h7 y22 ff2 fs2 fc3 sc0 ls0 ws0">
              best results when selecting
            </div>
            <div class="t m0 x2 h7 y23 ff2 fs2 fc3 sc0 ls0 ws0">
              text to copy or replace,
            </div>
            <div class="t m0 x2 h7 y24 ff2 fs2 fc3 sc0 ls0 ws0">
              don’t include space to the
            </div>
            <div class="t m0 x2 h7 y25 ff2 fs2 fc3 sc0 ls0 ws0">
              right of the characters in
            </div>
            <div class="t m0 x2 h7 y26 ff2 fs2 fc3 sc0 ls0 ws0">
              your selection.]
            </div>
            <div class="t m0 x5 hc y27 ff1 fs4 fc3 sc0 ls0 ws0">ADDRESS</div>
            <div class="t m0 x5 hd y28 ff2 fs4 fc3 sc0 ls0 ws0">
              [Street Name]
            </div>
            <div class="t m0 x5 hd y29 ff2 fs4 fc3 sc0 ls0 ws0">
              [City, State, Zip]
            </div>
            <div class="t m0 x5 hd y2a ff2 fs4 fc3 sc0 ls0 ws0">[Country]</div>
            <div class="t m0 x5 hc y2b ff1 fs4 fc3 sc0 ls0 ws0">PHONE</div>
            <div class="t m0 x5 hd y2c ff2 fs4 fc3 sc0 ls0 ws0">
              [Your number]
            </div>
            <div class="t m0 x5 hc y2d ff1 fs4 fc3 sc0 ls0 ws0">EMAIL</div>
            <div class="t m0 x5 hd y2e ff2 fs4 fc3 sc0 ls0 ws0">
              [Your email]
            </div>
            <div class="t m0 x5 hc y2f ff1 fs4 fc3 sc0 ls0 ws0">WEBSITE</div>
            <div class="t m0 x5 hd y30 ff2 fs4 fc3 sc0 ls0 ws0">
              [Your website]
            </div>
          </div>
          <div class="c x3 y31 w4 he">
            <div class="t m0 x2 h8 y32 ff2 fs3 fc1 sc0 ls0 ws0">
              [Available upon request.]
            </div>
          </div>
          <div class="c x6 y33 w8 hf">
            <div class="t m0 x7 h10 y34 ff1 fs5 fc3 sc0 ls0 ws0">F/S</div>
            <div class="t m0 x8 h11 y35 ff2 fs6 fc3 sc0 ls0 ws0">MONOGRAM</div>
          </div>
        </div>
        <div
          class="pi"
          data-data='{"ctm":[1.000000,0.000000,0.000000,1.000000,0.000000,0.000000]}'
        ></div>
      </div>
    </div>
    <div class="loading-indicator"></div>
  </body>
</html>
